{% extends 'admin/index.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/nav.html' import render_breadcrumb_item %}

{% block title %}Edit profile{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {{ render_breadcrumb_item('admin.index', 'Dashboard Home') }}
            {{ render_breadcrumb_item('admin.manage_user', 'Manage User') }}
            {{ render_breadcrumb_item('admin.edit_profile_admin', 'Edit Profile') }}
        </ol>
    </nav>
    <div class="page-header">
        <h1>Edit profile
            <a class="float-right btn btn-light" href="{{ url_for('user.index', username=user.username) }}">Return
                {{ user.username }}'s homepage</a>
        </h1>
    </div>
    <div class="card w-100 bg-light">
        <h3 class="card-header">Edit Profile</h3>
        <div class="card-body">
            {{ render_form(form) }}
        </div>
    </div>
{% endblock %}
